@media all {
	.btn {
		border-radius: 0px;
	}
	canvas {
		background: url(assets/background-01.jpg);
		background-size: contain;
		background-position: center;
		background-color: #000;
		background-repeat: no-repeat;
	}
	.rules--banner {
		padding-left: 1rem;
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #333;
		color: #fff;
		justify-content: center;
		align-items: center;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
	.rules--banner h3 {
		line-height: 3rem;
    	margin-bottom: 0;
	}
	.rules--banner ul {
		margin-bottom: 0;
	}
}